:root{
  --primary-color: rgba(255, 255, 255, 0.87);
  --secondary-color: darkslategray;
  --header-height: 3rem;
}

body {
  color: var(--primary-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #1a1a1a;
  width: 100vw;
  height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
  display: grid; 
  grid-template-columns: 2fr 3fr 1fr; 
  grid-template-rows: 4em auto; 
  grid-template-areas: 
    "header header header"
    "CardInfo Deck Searchbar"; 
  gap: 0 1rem;
}

*{
  padding: 0;
  margin: 0;
}