.MainDeck{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.558);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    .CardImage{
        width: 5rem;
        height: auto;
    }
}
